/*======================================
        Basic Properties starts
=========================================*/
body
{
    overflow-x: hidden;
    
}


.pace-running .entire-content
{
    opacity: 0;
}



.pace-done .entire-content
{
    opacity: 1;
    transition: all 1s ease-in;
}



*
{
    margin: 0;
    padding: 0;
}
  

/*=======================================
         Basic Properties Ends
=========================================*/
  


/*======================================
           Navigation starts
=========================================*/


.navbar
{
    padding: 24px 0px;     
    border-bottom: none !important;
    transition: all 0.5s ease-in-out;
}

.navbar ul li a
{
    color: white !important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px; 
    font-size: 13px;
    transition: all 0.5s ease-in;
    background: transparent !important;
}

.navbar ul li a:hover, .navbar ul li a:focus
{
    color: deepskyblue !important;
    background: none !important;
}

.navbar-toggle
{
    border: 1px solid white !important;
    color: white !important;
    transition: all 0.5s ease-in;
}

.icon-bar
{
    color: white !important;
    background-color: white !important;
}
.navbar-toggle:hover
{
    background-color: deepskyblue !important;
}

 
.navbar-inverse .navbar-collapse
{
  border-color: transparent !important;  
       
}

  
.location
{
    border: 1px solid white;
    border-radius: 50px;
    
}

.navbar-inverse
{
    background-color: transparent !important;
}  



/*======================================
            Navigation Ends
=========================================*/